<div class="row">
    <div class="card">
        <div class="number">{{ remain_months }}</div>
        <div class="description">Měsíců</div>
    </div>

    <div class="card">
        <div class="number">{{ remain_days }}</div>
        <div class="description">Dny</div>
    </div>

    <div class="card">
        <div class="number">{{ remain_hours }}</div>
        <div class="description">Hodin</div>
    </div>

    <div class="card">
        <div class="number">{{ remain_minutes }}</div>
        <div class="description">Minut</div>
    </div>

    <div class="card">
        <div class="number">{{ remain_seconds }}</div>
        <div class="description">Sekund</div>
    </div>
</div>