/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;700;900&display=swap');

*
{
    font-family: 'Livvic', sans-serif;
}

html, body { height: 100%; }
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    width: 100vw;
}

.mat-tab-body-wrapper
{
    height: inherit;
}

countdown {
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mat-ink-bar {
    background-color: #2999ed!important;
}

.mat-tab-label
{
    opacity: .9!important;
}